.reviews-banner {
  background: url("../../assets/img/best-holistic-healthcare-provider.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
}
