.counter-overlay {
  background: url("../../assets/img/Best-holistic-healthcare-provider-in-uk.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
}

.counter-heading {
  font-size: 44px;
  font-weight: 700;
}
