.blogs-banner {
  background: url("../../assets/img/banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
}
.blogs-banner h2 {
  text-transform: capitalize;
  margin-bottom: 20px;
}
