html {
  scroll-behavior: smooth;
}

.blog-detail-section {
  padding: 40px 0px 120px 0px;
}
.custom-container {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
  max-width: unset !important;
  width: unset !important;
}
/* detail blog css */
.detail-author-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}
.detail-author-wrapper h4 {
  font-family: "Open Sans", sans-serif;
  color: #183b56;
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
}
.detail-author-content h5 {
  color: #6d6e76;
  font-family: "poppins", sans-serif;
  font-weight: 500;
}
.detail-upper-wrapper h1 {
  font-family: "poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -2px;
  text-align: left;
  color: #183b56;
  margin-top: 40px;
}
.detail-blog-category h4 {
  font-family: "poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 45px;
  color: #183b56;
}
.detail-blog-category {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}
.detail-fatured-image img {
  width: 100%;
  height: auto;
}
.detail-upper-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 40px auto;
}
.detail-blog-content {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 60px auto 40px auto;
}
.detail-blog-content h2 {
  color: #183b56;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 20px;
}
.detail-blog-content p {
  color: #6d6e76;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}
.detail-blog-content ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 5px 0px;
}
.detail-blog-content ul li {
  color: #183b56;
  font-family: "poppins", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin: 5px 0px;
}
.detail-related-blogs {
  padding: 100px 0px 80px 0px;
  border-bottom: 2px solid #6d6e7640;
}
.related-blogs-wrapper {
  padding: 70px 0px 30px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
}
.result-image img {
  border-radius: 6px;
}
.result-image {
  max-width: 10%;
}
.result-content h4 {
  color: #183b56;
  font-family: "poppins";
  font-weight: 500;
  text-transform: capitalize;
}
.detail-related-blogs h2 {
  color: #183b56;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}
.related-blog-box {
  display: flex;
  flex-direction: column;
  width: 31%;
}
.related-blog-box img {
  border-radius: 16px;
  width: 100%;
}
.related-blog-title h3 {
  color: #183b56;
  font-family: "poppins";
  line-height: 40px;
  font-weight: 600;
  max-width: 80%;
  margin-bottom: 10px;
  font-size: 28px;
}
.related-blog-author {
  padding-top: 30px;
  padding-bottom: 16px;
}
.related-blog-excerpt p {
  color: #183b56b0;
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-weight: 400;
  font-family: "poppins";
}
.related-blog-author h4 {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 500;
  color: #4c4c4c;
}
.related-blog-author h4 .author {
  color: #84c43f;
}
.detail-featured-image img {
  width: 100%;
  border-radius: 16px;
}
@media only screen and (max-width: 1024px) {
  .detail-upper-wrapper,
  .detail-blog-content,
  .related-blog-title h3 {
    max-width: 100%;
  }
  .related-blog-title h3 {
    line-height: 34px;
    font-size: 24px;
  }
  .related-blog-excerpt p {
    font-size: 16px;
  }
  .related-blog-box {
    width: 49%;
  }
  .related-blogs-wrapper {
    row-gap: 40px;
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .custom-container {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .detail-related-blogs,
  .blog-detail-section {
    padding: 50px 0px;
  }
  .related-blog-box {
    width: 100%;
  }
  .detail-upper-wrapper h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .detail-author-wrapper h4 {
    font-size: 23px;
    line-height: 30px;
  }
  .detail-blog-category {
    margin: 20px 0px;
  }
  .detail-blog-content h2 {
    font-size: 26px;
    line-height: 35px;
  }
  .detail-blog-content {
    margin-top: 20px;
  }
  .detail-blog-content ul li {
    font-size: 18px;
  }
  .detail-related-blogs h2 {
    font-size: 28px;
  }
}
